In [6]:
#一共640题，看一天可以整理多少个

In [8]:
#SQL CheatSheet
#https://www.stratascratch.com/blog/sql-cheat-sheet-technical-concepts-for-the-job-interview/

# 1. Most Profitable Companies


Forbes
Medium
ID 10354


Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

#方法1：with
WITH CTE AS(
SELECT
    company,
    profits,
    RANK() OVER(order by profits desc) as rnk
FROM 
    forbes_global_2010_2014
)
SELECT 
    company,
    profits
FROM CTE
WHERE rnk <= 3

#方法2：subquery
SELECT 
    company,
    profit
FROM 
    (SELECT 
        *,
        rank() OVER(ORDER BY totol_profit DESC) as rank
    FROM 
        (SELECT 
            company, 
            sum(profits) AS totol_profit
        FROM forbes_global_2010_2014
        GROUP BY 1) sq) sq2
WHERE rank <=3

#方法3：with改写的subquery
WITH CTE1 AS(
SELECT 
    company,
    sum(profits) AS total_profit
FROM forbes_global_2010_2014
GROUP BY 1
),
CTE2 AS(
SELECT 
    company,
    total_profit,
    RANK() OVER (ORDER BY total_profit DESC) AS rank
FROM CTE1
)
SELECT 
    company,
    total_profit
FROM CTE2
WHERE rank <= 3

#方法4：python

# Explore Dataset
forbes_global_2010_2014.head()
forbes_global_2010_2014.sample(5)
forbes_global_2010_2014.info()

# Import your libraries
import pandas as pd
import numpy as np

# Group& sort columns
result = forbes_global_2010_2014.groupby('company')['profits'].sum().reset_index().sort_values(by='profits', ascending = False)

# Rank the companies
result['rank'] = result['profits'].rank(method = 'min', ascending = False)

# Filter the dataset
result = result[result['rank']<=3][['company', 'profits']]

#Optimized Solution
forbes_global_2010_2014.sort_values(by = 'profits', ascending = False)[['company', 'profits']].head(3)

# 2.Workers With The Highest Salaries


Interview Question Date: July 2021

Amazon
DoorDash
Easy
ID 10353


You have been asked to find the job titles of the highest-paid employees.


Your output should include the highest-paid title or multiple titles with the same salary.

DataFrames: worker, titleExpected Output Type: pandas.DataFrame

-- --方法1：rank
-- WITH CTE AS(
-- SELECT 
--     worker_title,
--     RANK() OVER(ORDER BY salary DESC) AS rnk
-- FROM worker w JOIN title t
-- ON w.worker_id = t.worker_ref_id
-- )
-- SELECT 
--     worker_title
-- FROM CTE
-- WHERE rnk = 1

--方法2：case when
--先求max_salary; case when salary = max_salary then title; select * where title is not null 

SELECT * 
FROM 
    (SELECT CASE
        WHEN salary = 
            (SELECT max(salary)
            FROM worker) THEN worker_title
    END AS best_paid_title
    FROM worker a
    INNER JOIN title b 
    ON b.worker_ref_id = a.worker_id
    ORDER BY best_paid_title
    ) sq
WHERE best_paid_title IS NOT NULL

--方法3：select title; where salary = (select max(salary) from worker)

SELECT 
    worker_title AS best_paid_title
FROM worker
JOIN title
ON work_id = worker_ref_id
WHERE salary = (SELECT MAX(salary) FROM worker)

# 3. Users By Average Session Time


Interview Question Date: July 2021

Meta/Facebook
Medium
ID 10352

Calculate each user's average session time. A session is defined as the time difference between a page_load and page_exit. For simplicity, assume a user has only 1 session per day and if there are multiple of the same events on that day, consider only the latest page_load and earliest page_exit, with an obvious restriction that load time event should happen before exit time event . Output the user_id and their average session time.

Table: facebook_web_log

--date(ts); ts::timestamp：只取年月日
--timestamp：2019-04-25 13:30:15
--date(timestamp)：2019-04-25
--timestamp::date ：2019-04-25

--方法1：self join
先创建cte表：self join取user_id, date, session(min(t1.time - t2.time))； where 中指定t1.action = 'page_load' t2.action = 'page_exit'，t2.time > t1.time；
在表中选择user_id, avg(session)


WITH all_user_sessions AS(
SELECT
    t1.user_id,                                                                          --user_id
    t1.timestamp::date as date,                                                          --date整数日；t1.timestamp::date = date(t1.timestamp)
    min(t2.timestamp) - max(t1.timestamp) as session_duration      
                                                        --session = ealiest page_exit - latest page_load：min(exit) - max(load)
FROM facebook_web_log t1 JOIN facebook_web_log t2
ON t1.user_id = t2.user_id
WHERE t1.action = 'page_load'                                                            --t1表为load
    AND t2.action = 'page_exit'                                                          --t2表为exit
    AND t2.timestamp > t1.timestamp                                                      --load在exit前：exit > load
GROUP BY 1, 2
)
SELECT user_id, avg(session_duration)                                                    --user_id, avg(session)
FROM all_user_sessions
GROUP BY user_id

--方法2：
--case when 求出page_load& page_exit timestamp；再select 两者相减求avg_session_time；最后having is not null去空值

--题目条件：
--avg session time: page_load - page_exit
--latest page_load(max)； ealiest page_exit(min)
--load在exit前：(exit - load)
--user_id, avg session time

WITH min_max as
(
select 
    user_id, 
    date(timestamp),
    max(CASE
        WHEN action = 'page_load' then timestamp
        END) as pg_load,                              --latest page_load 
    min(CASE
        WHEN action = 'page_exit' then timestamp
        END) as pg_exit                               --ealiest page_exit
FROM facebook_web_log 
GROUP BY 1,2
)
SELECT 
    user_id, 
    avg(pg_exit - pg_load) as avg_session_time        --avg(exit - load) = avg_session_time
FROM min_max
GROUP BY 1
HAVING avg(pg_exit - pg_load) is not null            --去掉结尾空值

-- 方法3. 
-- 创建exit表和load表（user_id, day, exit_time/load_time）；
-- 根据user_id和day去join两表；取user_id, avg(exit - load); 
-- 每个表在创立时要有day，代表每天，否则无法join成功

WITH exit as(                                       
SELECT 
    user_id,                                             --user_id
    date(timestamp) as day,                              --day
    min(timestamp) as exit                               --exit
FROM 
    facebook_web_log
WHERE 
    action = 'page_exit'
GROUP BY 
    1,2
),
load as(
SELECT 
    user_id,                                            --user_id
    date(timestamp) as day,                             --day                       
    max(timestamp) as load                              --load
FROM 
    facebook_web_log
WHERE 
    action = 'page_load'
GROUP BY 
    1,2
)
SELECT 
    e.user_id,                                          --user_id
    avg(exit - load)                                    --avg(exit - load)
FROM exit e JOIN load l
ON e.user_id = l.user_id
AND e.day = l.day
group by 1

#python:

# Import your libraries
import pandas as pd
import numpy as np
facebook_web_log.head()

# Extract page_load and page_exit action 
loads = facebook_web_log.loc[facebook_web_log['action'] == 'page_load', ['user_id', 'timestamp']]
exits = facebook_web_log.loc[facebook_web_log['action'] == 'page_exit', ['user_id', 'timestamp']]
#Identify possible sessions of each user
sessions = pd.merge(loads, exits, how = 'inner', on = 'user_id', suffixes = ['_load', '_exit'])
#Filter valid sessions:
#page before page_exit
sessions = sessions[sessions['timestamp_load'] < sessions['timestamp_exit']]
#add a column with the date of a page_load timestamp
sessions['date_load'] = sessions['timestamp_load'].dt.date
#aggregate data by user_id and date, select latest page_load and ealiest page_exit
sessions = sessions.groupby(['user_id', 'date_load']).agg({'timestamp_load':'max', 'timestamp_exit':'min'}).reset_index()
#calculate the duration of the session
sessions['duration'] = sessions['timestamp_exit'] - sessions['timestamp_load']
sessions
#aggregate to get avg duration by user
result = sessions.groupby('user_id')['duration'].agg(lambda x:np.mean(x)).reset_index()

# 4.Activity Rank


Interview Question Date: July 2021

Google
Medium
ID 10351

Find the email activity rank for each user. Email activity rank is defined by the total number of emails sent. The user with the highest number of emails sent will have a rank of 1, and so on. Output the user, total emails, and their activity rank. Order records by the total emails in descending order. Sort users with the same number of emails in alphabetical order.
In your rankings, return a unique value (i.e., a unique rank) even if multiple users have the same number of emails. For tie breaker use alphabetical order of the user usernames.

Table: google_gmail_emails

--法1：cte
--total emails：from_user, count(to_user), gorup by 1
--先order by total email再order by 用户字母：row_number() OVER (ORDER BY total_emails DESC, from_user ASC) as row_number
--最后再order一次

--审题：user, total_email, rank:total_email
--rank total emails desc
--users asc
--unique rank: row_number

--output: from user, total_emails, row_number

WITH CTE AS(
SELECT 
    from_user,
    count(to_user) AS total_emails
FROM google_gmail_emails
GROUP BY 1
)
SELECT 
    from_user,
    total_emails,
    row_number() OVER (ORDER BY total_emails DESC, from_user ASC) as row_number
FROM CTE
ORDER BY 
    total_emails DESC,
    from_user

--法2：count(*)与row_number可以在一个query中实现，group by 1。不用cte

SELECT 
    from_user,
    count(*) as total_emails,
    row_number() OVER (order by count(*) desc, from_user asc)
FROM 
    google_gmail_emails
GROUP BY 
    from_user
ORDER BY 
    total_emails DESC, 
    from_user

# 5.Algorithm Performance


Interview Question Date: July 2021

Meta/Facebook
Hard


Meta/Facebook is developing a search algorithm that will allow users to search through their post history. You have been assigned to evaluate the performance of this algorithm.


We have a table with the user's search term, search result positions, and whether or not the user clicked on the search result.


Write a query that assigns ratings to the searches in the following way:
•	If the search was not clicked for any term, assign the search with rating=1
•	If the search was clicked but the top position of clicked terms was outside the top 3 positions, assign the search a rating=2
•	If the search was clicked and the top position of a clicked term was in the top 3 positions, assign the search a rating=3


As a search ID can contain more than one search term, select the highest rating for that search ID. Output the search ID and its highest rating.


Example: The search_id 1 was clicked (clicked = 1) and its position is outside of the top 3 positions (search_results_position = 5), therefore its rating is 2.

Table: fb_search_events

--法1：
--rating criteria: cte(case when)
-- 1.search not cliked, rating = 1：clicked = 0
-- 2.clicked, top position outsided the top 3, rating = 2：clicked = 1 and search_results_position > 3
-- 3.clicked, top position in top 3, rating = 3：clicked = 1 and search_results_position <= 3

--max rating for each user_id：max(rating)

--output: search_id, max_rating

WITH rating AS(
SELECT 
    search_id,
    clicked,
    search_results_position,
CASE 
    WHEN clicked = 0 THEN '1'
    WHEN clicked = 1 AND search_results_position > 3 THEN '2'
    WHEN clicked = 1 AND search_results_position <= 3 THEN '3'
    END AS rating
FROM fb_search_events
GROUP BY 1,2,3
)
SELECT 
    search_id, 
    max(rating) AS max_rating
FROM rating
GROUP BY 1

In [ ]:
--法2：
SELECT 
    search_id,
    MAX(CASE WHEN clicked = 0 THEN 1
        WHEN search_results_position > 3 THEN 2
        ELSE 3 END) as max_rating
FROM fb_search_events
GROUP BY search_id

--#法3：
-- 建立一个矩阵，search_id, 3个case when filter
-- unnest(array[colum_a, colum_b, colum_c]) 是将3列并为一列，只显示有数字的那列数。
-- max(rating)

WITH CTE AS(
    SELECT
        search_id,
        unnest(array[one, two, three]) AS rating
    FROM
    (SELECT 
        search_id,
        CASE 
            WHEN clicked = 0 THEN 1
            ELSE 0
        END AS one,
        CASE 
            WHEN clicked = 1 AND search_results_position > 3 THEN 2
            ELSE 0
        END AS two,
        CASE 
            WHEN clicked = 1 AND search_results_position <= 3 THEN 3
            ELSE 0
        END AS three
    FROM fb_search_events
    ) sq
    )
SELECT 
    search_id,
    max(rating) as max_rating
FROM cte
GROUP BY 1

# 6.Distances Traveled


Interview Question Date: December 2020

Lyft
Medium
ID 10324

Find the top 10 users that have traveled the greatest distance. Output their id, name and a total distance traveled.

Tables: lyft_rides_log, lyft_users

--output: user_id, name, traveled_distance: total_distance_travled
--top 10; greatest distance

--方法1：cte
WITH CTE AS(
SELECT 
    user_id,
    name,
    sum(distance) as traveled_distance,
    RANK() OVER (ORDER BY sum(distance) DESC) AS rnk
FROM 
    lyft_rides_log l 
JOIN 
    lyft_users u
ON 
    l.user_id = u.id
GROUP BY 
    1, 2
)
SELECT 
    user_id,
    name,
    traveled_distance
FROM 
    CTE
WHERE 
    rnk <= 10

--方法2：subquery：from后整体后tab一格，rank后order by另起tab
SELECT 
    user_id,
    name,
    traveled_distance
FROM 
    (SELECT 
        lr.user_id,
        lu.name,
        SUM(lr.distance) AS traveled_distance,
        rank() OVER(
                    ORDER BY SUM(lr.distance) DESC) AS rank
    FROM lyft_users lu
    INNER JOIN lyft_rides_log lr ON lu.id = lr.user_id
    GROUP BY 
        lr.user_id, 
        lu.name
    ORDER BY 
        traveled_distance DESC
    ) sq
WHERE rank <= 10

--方法3：
--rank() OVER(ODER BY traveled_distance DESC), rank<=10
--可被ORDER BY traveled_distance, limit 10替代

SELECT 
    user_id,
    name,
    sum(distance) as traveled_distance
FROM 
    lyft_rides_log l 
JOIN 
    lyft_users u
ON 
    l.user_id = u.id
GROUP BY 
    1, 2
ORDER BY
    traveled_distance DESC
LIMIT 10

# 7.Finding User Purchases【有个video可看】


Interview Question Date: December 2020

Amazon
Medium
ID 10322

Write a query that'll identify returning active users. A returning active user is a user that has made a second purchase within 7 days of any other of their purchases. Output a list of user_ids of these returning active users.

Table: amazon_transactions

#①替换写法
b.created_at - a.created_at BETWEEN 0 AND 7 
b.created_at - a.created_at <=7 
ABS(DATEDIFF(a.created_at, b.created_at)) <= 7

a.created_at <= b.created_at 
b.created_at >= a.created_at

#②self join 要去重自身，需a.id != b.id

#③lead lag后，可用where next - current >= a 来filter out:
lead(X, 1) over(partition by Y order by X asc) as next【注意是asc】
lag(X, 1) over(partition by Y order by X ASC) as previous【注意也是asc】

#④2nd purchase within 7 days of any other purchase，包含第二单和第一单在同一天
b.created_at >= a.created_at

--return active user: 2nd purchase within 7 days of any other pur：
--包含第二次下单和第一次下单是同一天的情况，∴ b.created_at >= a.created_at
--output:user_id

--法1：self join；on user_id=，id<>，where b.created - a.created <= 7 and a.created_at <=b.created

SELECT 
distinct 
a.user_id
FROM amazon_transactions a JOIN amazon_transactions b
ON a.user_id = b.user_id 
AND a.id <> b.id                                         --排除同一用户的相同购买记录进行比较:只比较不同的购买记录
WHERE 
b.created_at - a.created_at BETWEEN 0 AND 7            --可以替换为b.created_at - a.created_at <=7 ；也可以替换为ABS(DATEDIFF(a.created_at, b.created_at)) <= 7
--DATEDIFF(a.created_at, b.created_at) <= 7                --为什么写这个不对？
AND a.created_at <= b.created_at                         --【可以替换为b.created_at >= a.created_at ；但必须包括=】

--法2：self join；on user_id；where .created_at - b.created_at BETWEEN 0 AND 7 AND a.id != b.id

SELECT 
    DISTINCT(a.user_id)
FROM amazon_transactions a
JOIN amazon_transactions b
ON a.user_id = b.user_id
WHERE a.created_at - b.created_at BETWEEN 0 AND 7
    AND a.id != b.id

--法3：Lead建立新的一列，指前面变量的后一个值，再用where filter 相减 <=7即可
--lead(X, 1) over(partition by Y order by X asc) as next【注意是asc】

WITH next_transaction AS(
SELECT
    user_id,
    created_at,
    LEAD(created_at, 1) OVER(PARTITION BY user_id ORDER BY created_at ASC) AS next_transaction
FROM amazon_transactions
)
SELECT 
    DISTINCT user_id
FROM next_transaction
WHERE next_transaction - created_at <= 7

--LEAD(created_at, 1)表示获取在当前行之后的下一个行的created_at值。参数1表示获取下一个行（偏移量为1）的created_at值。

In [ ]:
--法4：lag建立新的一列，指前面变量的前一个值，再用where filter 相减 <=7即可
--lag(X, 1) over(partition by Y order by X ASC) as previous【注意也是asc】

WITH previous_transaction AS(
SELECT
    user_id,
    created_at,
    LAG(created_at, 1) OVER(PARTITION BY user_id ORDER BY created_at ASC) AS previous_transaction
FROM amazon_transactions
)
SELECT 
  DISTINCT user_id
FROM previous_transaction
WHERE created_at - previous_transaction <= 7